@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --color-bg: #fffdfa;
  --color-text: #888888;
  --color-accent: #000000;

  /** Text gradient colors */
  --color-gradient-from: #2f6bd8;
  --color-gradient-to: #7a3bf6;
}

:root.dark {
  --color-bg: #0e1a24;
  --color-text: #bcbcbc;
  --color-accent: #ffffff;
}
